<div class="container ps-4 pe-4 pe-lg-5 ps-lg-5 d-flex flex-column justify-content-center h-100 row-gap-4 animate__animated animate__fadeIn">
    <div class="w-100 d-flex flex-column row-gap-3">
        <h1 class="fs-1 mb-0">Login</h1>
        <p>Bem vindo(a)! Por favor, faça o login com a sua conta.</p>
    </div>
    <form [formGroup]="form" class="w-100 mb-4 needs-validation" [ngClass]="{'was-validated': form.touched && form.invalid}" [attr.novalidate]="form.touched && form.invalid ? true : null">
        <div class="mb-4" getFormControl [form]="form" [field]="'username'" #usernameControl="getFormControl">
            <app-input
                [control]="usernameControl.getFormControl()"
                [label]="'Usuário'"
                [required]="true"
                id="username"
            ></app-input>
        </div>
        <div class="mb-4" getFormControl [form]="form" [field]="'password'" #passwordControl="getFormControl">
            <app-input
                [control]="passwordControl.getFormControl()"
                [label]="'Senha'"
                [required]="true"
                [type]="'password'"
                id="password"
            ></app-input>
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-2" [disabled]="form.invalid" (click)="login()">Entrar</button>
    </form>
    <div class="w-100 d-flex flex-column row-gap-3">
        <p class="mb-0">Não tem uma conta? <a [routerLink]="['/auth/cadastro']">Cadastre-se</a></p>
    </div>
</div>
