:host {
    .background {
        background-image: url('/assets/img/gradiente.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;

        & > * {
            color: #FFF;
        }

        & > .img-logo {
            width: 500px;
            height: fit-content;
        }
    }
}
